/target
/src/day1.txt
/src/day2.txt
/src/day3.txt
/src/day4.txt
/src/day5.txt
/src/day6.txt
/src/day7.txt
/src/day8.txt
/src/day9.txt
/src/day10.txt
/src/day11.txt
/src/day12.txt
/src/day13.txt
/src/day14.txt
/src/day15.txt
/src/day16.txt
/src/day17.txt
/src/day18.txt
/src/day19.txt
/src/day20.txt
/src/day21.txt
/src/day22.txt
/src/day23.txt
/src/day24.txt
/src/day25.txt
